body{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.header{
	width: 100%;
	height: auto;
}
.header div{
	background-color: #f1f1f1;
	float: left;
	display: inline-block;
}

/*viplivaushee mehu*/

/*scrolling*/
.layer {
 overflow: scroll;
 width: 100px;
 height: 400px;
 margin: auto;
 padding: 10px;
 background-color: white;
 }
nav ul ul{
	display: none;
}

nav ul li:hover>ul{
	display: block;
	text-align: center;
}
nav ul{
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul li{
	float: left;
}
nav ul ul {
	position: absolute;
	top:100%;
	width: auto;
	height: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav ul ul li {
	float: none;
	position: relative;
}
nav ul ul : hover{
	display: inline;
}
